---
- name: Install shell packages
  package:
    name: "{{ shell_packages }}"
    state: present
  become: yes

- name: Ensure XDG and system directories exist
  file:
    path: "{{ ansible_facts.user_dir }}/{{ item }}"
    state: directory
    mode: '0755'
  loop:
    - .config
    - .local/bin
    - .local/share
    - .local/state/zsh  # For Zsh history file
    - .cache
  become: no
  become_user: "{{ ansible_facts.user_id }}"

- name: Ensure Zsh history file exists
  file:
    path: "{{ ansible_facts.user_dir }}/.local/state/zsh/history"
    state: touch
    mode: '0600'
  become: no
  become_user: "{{ ansible_facts.user_id }}"

- block:
  - name: Symlink shell configuration directories
    file:
      src: "{{ dotfiles_dir }}/{{ item }}"
      dest: "{{ config_dir }}/{{ item }}"
      state: link
      force: yes
    loop: "{{ shell_symlinks }}"
    ignore_errors: yes

  - name: Symlink .zshenv in $HOME
    ansible.builtin.file:
      src: "{{ dotfiles_dir }}/zsh/.zshenv"
      dest: "{{ ansible_facts.user_dir }}/.zshenv"
      state: link
      force: yes
    ignore_errors: true
  tags: ['symlinks']
