---
- name: Install dependencies for building yay
  package:
    name:
      - base-devel
      - git
    state: present
  become: yes

- name: Install yay
 kewlfft.aur.aur:
    use: makepkg
    name: yay-bin
    state: present
  become: no
  become_user: "{{ ansible_user_id }}"
