---
- name: Create the `aur_builder` user
  become: yes
  ansible.builtin.user:
    name: aur_builder
    create_home: yes
    group: wheel

- name: Allow the `aur_builder` user to run `sudo pacman` without a password
  become: yes
  ansible.builtin.lineinfile:
    path: /etc/sudoers.d/11-install-aur_builder
    line: 'aur_builder ALL=(ALL) NOPASSWD: /usr/bin/pacman'
    create: yes
    mode: 0644
    validate: 'visudo -cf %s'
- name: Install dependencies for building yay
  package:
    name:
      - base-devel
      - git
    state: present
  become: yes

- name: Install yay
  kewlfft.aur.aur:
    use: makepkg
    name: yay-bin
    state: present
  become: yes
  become_user: aur_builder
